
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; /* Elimina el subrayado */
}


/* Estilo para el título "marca" */
#marca {
    color: turquoise;
    font-family: 'Courier New';
    margin: 16px;
    margin-right: 40px;
}

#formIngreso input {
    padding: 8px;
    margin: 5px 0;
}

/* H E A D E R */
header {
    display: flex; /* Uso de flexbox */
    align-items: center; /* Alinear verticalmente al centro */
}

header p {
    margin: 25px;
}

.botonHeader {
    border-radius: 12px;
    height: 26px;
    margin: 0 20px;
    padding: 2px 5px 2px 5px;
    background-color: wheat;
    color: darkcyan;
}

.botonHeader:hover {
    box-shadow: 2px 2px 1px darkcyan;
}



/* Estilo para la caja de búsqueda */
.busqueda {
    border-radius: 20px; /* Radio de borde para la caja */
    padding: 10px; /* Espacio interno */
    background-color: wheat; /* Color de fondo */
    margin: 10px; /* Margen exterior */
}

/* Estilo para el botón de búsqueda */
.busquedaboton {
    border: none; /* Quitar borde */
    cursor: pointer; /* Cambiar cursor en hover */
    transition: background-color 0.3s, border-radius 0.3s; /* Transiciones suaves */
    margin: 10px; /* Margen exterior */
    border-radius: 20px; /* Radio de borde */
    height: 32px;
    width: 70px;
}

/* Estilo para el botón de búsqueda en hover */
.busquedaboton:hover {
    background-color: gainsboro; /* Cambio de color de fondo */
}


/* Estilo específico para dispositivos móviles (ancho de pantalla < 768px) */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column; /* Apila elementos uno encima del otro en dispositivos móviles */
        align-items: center;
    }

    header form {
        margin: 10px 0; /* Cambiar el margen para la barra de búsqueda */
    }

    header p, header a {
        margin: 5px;
    }
}




/* N A V  */
nav {
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

nav a:hover {
    background-color: lightgrey;
    font-weight: bold;
}



/* Estilo para la lista horizontal de navegación */
.horizontal-list {
    display: flex; /* Uso de flexbox para distribución */
    justify-content: space-between; /* Distribuir elementos horizontalmente con espacio entre ellos */
    align-items: center; /* Alinear verticalmente al centro */
    background-color: whitesmoke; /* Color de fondo para destacar la lista */
}

/* Estilo para la lista de navegación en la lista horizontal */
.horizontal-list ul {
    list-style-type: none; /* Quitar viñetas de lista */
    display: flex; /* Uso de flexbox para distribución */
    justify-content: center; /* Centrar horizontalmente */
}

/* Estilo para los elementos de la lista horizontal */
.horizontal-list li {
    margin-right: 20px; /* Espacio entre elementos */
    padding-left: 40px;
}

/* Estilo para la lista de navegación en dispositivos móviles */
@media (max-width: 768px) {
    .horizontal-list ul {
        flex-direction: column; /* Mostrar elementos en una columna */
        text-align: center; /* Centrar el texto horizontalmente */
    }
    .horizontal-list li {
        margin: 10px 0; /* Espacio entre elementos arriba y abajo */
        display: inline; /* Mostrar elementos en línea para que dos estén en la misma fila */
    }
}

/* Estilo para la lista de navegación en dispositivos móviles y tablets */
@media (max-width: 1024px) {
    .horizontal-list ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .horizontal-list li {
        margin: 10px;
        text-align: center;
        flex-basis: calc(50% - 20px); /* 50% con margen para 2 elementos por fila */
    }
}











/* Estilo para el contenedor */
.contenedor {
    text-align: center;
    background-color: beige;
    font-family: 'Snippet', serif;
}

.contenedor iframe {
    padding: 20px;
    max-width: 100%;
}

/* Estilo para las secciones */
.secciones {
    display: flex; /* Uso de flexbox */
    justify-content: space-around; /* Distribución equitativa de elementos */
    margin-top: 20px; /* Margen superior */
}

/* Estilo para una sección */
.seccion {
    flex-basis: 30%; /* Ancho flexible */
}

/* Media query para tablet y dispositivos más pequeños */
@media (max-width: 768px) {
    .secciones {
        flex-direction: column; /* Cambiar la dirección de flex a columna */
        align-items: center; /* Centrar verticalmente en dispositivos más pequeños */
    }

    .seccion {
        flex-basis: 100%; /* Ocupar todo el ancho disponible en dispositivos más pequeños */
        margin-bottom: 20px; /* Añadir margen entre las secciones */
    }
}


/* M A I N*/

main {
    margin-top: 35px;
}


.contenedorProductos {
    width: 82%;
    height: auto;
    margin: 12px auto;
    overflow: auto; /* Agregado para manejar desbordamiento de productos */
}

.producto {
    width: 200px;
    height: 250px;
    margin: 16px 17px; /* Margen en la izquierda y derecha */
    float: left;
    position: relative;

}

.producto img {
    display: block;
    transition: border 0.1s; /* Efecto de transición */
}


.producto:hover img {
    border: 3px solid darkturquoise;
}

.producto img, .producto button {
    cursor: pointer;
}



main img {
    border-radius: 8%;
}

.producto button {
    border-radius: 15px;
    width: 45%;
    height: 25px;
    position: absolute;
    bottom: 10px; /* Ajusta la posición vertical del botón */
    right: 10px; /* Ajusta la posición horizontal del botón */
    background-color: rgba(173, 216, 230, 0.85); /* lightblue con opacidad */
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}











/* F O O T E R */
#prefooter {
    background-color: turquoise;
    height: 19px;
}


footer {
    background-color: blue; /* Color de fondo */
    color: aliceblue; /* Color del texto */
    height: auto;
    display: flex; /* Utiliza flexbox para centrar verticalmente */
    align-items: center; /* Centra verticalmente el contenido */
    text-align: center; /* Centra horizontalmente el texto */
    font-size: small;
    width: 100%;
}

footer p {
    padding-left: 4%;
}
footer table {
    padding-left: 2%;
}




/* R E G I S T R O */

#contenedorRegistro {
    display: flex;
    padding-bottom: 10px;
}

#formIngreso {
    width: 35%;
    display: flex;
    text-align: justify;
    align-items:center;
}

#botonEnviar {
    width: 14%;
    height: 9%;
    background-color: lightblue;
    color: darkblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* F A Q */

#faq {
    background-color: beige;
    margin: 0;
    padding: 33px;
    font-family: 'Snippet', serif;
}

#faq li h3 {
    font-size: 18px;
    color: darkgreen;
    margin: 0;
    cursor: pointer;
    border-bottom: 3px solid #ccc;
    padding-bottom: 5px; 
}

#faq li p {
    color: darkgreen;
    line-height: 1.9;
}

